# -*- python -*-
# ex: set filetype=python:

import os

from buildbot.plugins import *

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.

c['workers'] = [worker.Worker("example-worker", 'pass')]

if 'BUILDBOT_MQ_URL' in os.environ:
    c['mq'] = {
        'type' : 'wamp',
        'router_url': os.environ['BUILDBOT_MQ_URL'],
        'realm': os.environ.get('BUILDBOT_MQ_REALM', 'buildbot').decode('utf-8'),
        'debug' : 'BUILDBOT_MQ_DEBUG' in os.environ,
        'debug_websockets' : 'BUILDBOT_MQ_DEBUG' in os.environ,
        'debug_lowlevel' : 'BUILDBOT_MQ_DEBUG' in os.environ,
    }
# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': os.environ.get("BUILDBOT_WORKER_PORT", 9989)}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        'git://github.com/buildbot/pyflakes.git',
        workdir='gitpoller-workdir', branch='master',
        pollinterval=300))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="all",
                            change_filter=util.ChangeFilter(branch='master'),
                            treeStableTimer=None,
                            builderNames=["runtests"]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force",
                            builderNames=["runtests"]))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

#make a directory for the build 
#clone the openWRT source into the directory
#clone the komodo.git into the source/package directory
#git checkout 4.x firmware
#link version file to source folder
#./scripts/feeds update -a
#./scripts/feeds install -a

factory = util.BuildFactory()
# creates base directory
factory.addStep(steps.ShellCommand(command=["mkdir", "b1300"]))
# check out openwrt
factory.addStep(steps.Git(repourl='https://github.com/openwrt/openwrt.git', mode='incremental', workdir='b1300/source'))
# clones down komodo files
#factory.addStep(steps.ShellCommand(command=["git", "remote", "set-url", "origin", "https://github.com/Komodowifi/komodo"]))
#factory.addStep(steps.Git(repourl='git@github.com:Komodowifi/komodo.git', mode='incremental', workdir='b1300/source/package', sshPrivateKey='ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCXU63nVNmPWrsdPsXeAZwZvN8LhesabFNIthhY1OhCbF2Gn/qf/GyLky/6gZKIjh+U0+lZTVw3Eo19LjbLhRVphZlaSTFOiabiA/N1bgsJNxgo/Ts1LzjGlv0utuT3vxetbXqZdjmGuXi0w7DAqNyUY/gu1IK+xafwIJfPCNUiSASnsTJ992j+IO55xlRh5JdRS00QPW/aUBNC3OdAgWZoQ5p0p5D/9TsR2CEcHLMpku5m+T/T8fwOd1k8fbxMRcaoD0+NOlWKm+rIPeXbItqM3HawJy7bahTpn44EcWYJ9GmS7h8L7HWEZpvaM0h6TykhX9egpyZuR0IXio9gLRvRmuYXc4+OEURzrCwo/WbLR9uRFmBk8sZiLUYr37h+2BIAnMlJ2zgU2ZlyGHkm27Lj2ax0PG3JVdg0PxC7CqdsYhtQQVwsBMG0OYCt/ZJqLtYTuseKLD8fJ6Grd5lIrjZQZ1et07A5lXQs5Oo4Gg02Wv/OnHKbogBw4fyKT9/jtZcevUU6o5l/0A++v3EbwIZk3KitWcrSiHMnhLN+tGZldy45eDGtFfGRwCvDM66E2uQc388UAo2j9TcjMXxQASzmxVs9FLp3i1VCCkyB77tDw+TJT003bdQy+Mc89omYzWaCr0nvevgw+j5gmKkackbBTvj5zoMt5IQr4k9M7+pk/Q== nichols@komodowifi.com'))
factory.addStep(steps.ShellCommand(command=["git", "clone", "git@github.com:Komodowifi/komodo.git"], workdir='b1300/source/package/komodo'))

# git checkout
factory.addStep(steps.ShellCommand(command=["git", "checkout", "4.x-firmware"], workdir='b1300/source/package/komodo'))
#create a link
factory.addStep(steps.ShellCommand(command=["ln", "-s", "package/komodo/data/scripts/version", "version"], workdir='b1300/source/package/komodo'))
#scripts things? i'm not sure what they do
factory.addStep(steps.ShellCommand(command=["./scripts/feeds", "update", "-a"]))
factory.addStep(steps.ShellCommand(command=["./scripts/feeds", "install", "-a"]))


#patch
factory.addStep(steps.ShellCommand(command=["patch", "-p1", "--dry-run", "<", "./package/komodo/data/patches/package-base-files.patch"]))
factory.addStep(steps.ShellCommand(command=["patch", "-p1", "<", "./package/komodo/data/patches/package-base-files.patch"]))





c['builders'] = []
c['builders'].append(
    util.BuilderConfig(name="runtests",
      workernames=["example-worker"],
      factory=factory))

####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# like IRC bots.

c['status'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Komodo Builds"
c['titleURL'] = "https://github.com/openwrt/openwrt.git"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = os.environ.get("BUILDBOT_WEB_URL", "http://localhost:8010/")

# minimalistic config to activate new web UI
c['www'] = dict(port=os.environ.get("BUILDBOT_WEB_PORT", 8010),
                plugins=dict(waterfall_view={}, console_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : os.environ.get("BUILDBOT_DB_URL", "sqlite://").format(**os.environ),
}
